<%= form_for(slide) do |f| %>
  <% if slide.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(slide.errors.count, "error") %> prohibited this slide from being saved:</h2>

      <ul>
      <% slide.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field:name %>
  </div>

  <div class="field">
    <%= f.label :desc_left %>
    <%= f.text_area:desc_left %>
  </div>

  <div class="field">
    <%= f.label :desc_right %>
    <%= f.text_area:desc_right %>
  </div>

  <div class="field">
    <%= f.label :picture %>
    <%= f.file_field:picture %>
  </div>
  <div class="field">
    <%= f.label :published_from %><br>
    <%= f.date_field :published_from %>
  </div>
  <div class="field">
    <%= f.label :published_to %><br>
    <%= f.date_field :published_to %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
