<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @slide.name %>
</p>

<p>
  <strong>Desc_left:</strong>
  <%= @slide.desc_left %>
</p>

<p>
  <strong>Desc_Right:</strong>
  <%= @slide.desc_right %>
</p>

<p>
  <strong>Picture::</strong>
  <%= image_tag@slide.picture.url %>
</p>

<%= link_to 'Edit', edit_slide_path(@slide) %> |
<%= link_to 'Back', slides_path %>
